/*body {
	background-color: green;
}*/


/*Color palette generator: http://colormind.io*/
/*Global variables for changing colors across the site*/
:root {
	--accent: #e50053;
	--main: #333;
	--light: #666;
	--lighter: #f2eeeb;
	--border: #e6e6e6;
	--bg: #fcfcfc;

}

/*Make website responsive*/
@media screen and (max-width: 100%) {
	.main, .header, .footer {
		width: 800px; /*set main section width to 800px*/
	}
}

@media screen and (max-width: 640px) { /*reformat menu if screen width is less than 640px*/
	ul.nav li {float: none;}
}

.main, .header, .footer {
  float: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.header{
	padding-top: 10px;
}

/*Format header*/
p.menu {
	display: inline-block;
	float: right;
}

.menubutton {
	border: 1px solid var(--main);
	color: var(--main);
	padding: 0.5em 0.5em;
	cursor: pointer;
	border-radius: 1.5em;
	transition: 0.2s;
	white-space: nowrap;
	font-family: "league_spartanbold";
}

.menubutton:hover {
	background: var(--lighter);
	color: var(--main);
	text-decoration: none;
}

a.menubutton, a.menubutton:visited {
	color: var(--main);
	font-size: 0.8em;
}

a.menubutton:hover, a.menubutton:focus, a.menubutton:active {
	border-bottom: 1px solid;
}

ul.menu {
	list-style: none;
	font-family: "league_spartanbold";
	line-height: 1.7em;
}

p.sitelogo {
	font-family: "league_spartanbold";
	font-size: 1.5em;
	display: inline-block;
	float: left;
	margin: 0 auto;
	letter-spacing: -.02em;
}

a.sitelogo, a.sitelogo:hover, a.sitelogo:visited, a.sitelogo:active {
	text-decoration: none;
	color: var(--main);
}

hr.line-separator {
	margin: 12px 0px;
	height: 1px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #ddd;
	border-left: var(--bg);
	border-right: var(--bg);
}

/*Header ticker*/
span.header-ticker {
    animation-name: tick;
    animation-duration: 1s;
    animation-timing-function: steps(1,end);
    animation-iteration-count: infinite;
    color: var(--accent);
    font-size: 1.2em;
    line-height: 55px;
}

@keyframes tick {
 0% {
  opacity:1
 }
 50% {
  opacity:0
 }
 100% {
  opacity:0
 }
}

/*Format footer*/
footer {
	font-style: italic;
	font-size: .9em;
}

footer > nav {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 24px;
}

.footer p {
	text-align: center;
	font-size: 0.75em;
}

/*Format main body text*/
body {
	background: var(--bg);
	color: var(--main);
	line-height: 1.5;
	font-family: "libre_baskerville";/*Use libre_baskervillebold for bold font*/
}

/*Custom Typography*/
p {
	margin-bottom: 1.5em;
	font-size: 1.1em;
}

p.meta {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--light);
  margin-top: -1em;
}

li {
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "league_spartanbold";
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
  	margin-top: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.1em;
}

/*wtf is this*/
i.hash {
	font-size: 0.8em;
	color: var(--light);
}

/*Quoting, to use: <blockquote>..</blockquote><br><cite>..<cite>*/
blockquote {
	margin-left: 2em;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding: .4rem .8rem;
	border-left: .35rem solid var(--accent);
	color: var(--light);
	font-style: italic;
}

/*wtf is kbd,tt,var*/
/*In-line code highlight, to use: <code>..</code>*/
code, kbd, tt, var {
	font-size: 1.2em;
	/*font-family: monospace;*/
	color: var(--accent);
	background: #eaf4fa;
	line-height: 1.25;
	padding: .1rem .2rem;
}

/*Format images*/
img {
	max-width: 100%;
	height: auto;
}

img.home-banner {
	padding-top: 30px;
	padding-bottom: 20px;
	max-width: 100%;
	height: auto;
	margin: auto; 
	display: block;
}

/*Format hyperlinks*/
a, a:visited {
	color: var(--accent);
	text-decoration: none;
}

/*hover: user hover over link, focus: user clicks link*/
a:hover, a:focus, a:active {
	text-decoration: underline;
}

/*Format buttons*/
/*Button, to use: <a class="button" href"..">..</a>*/
.button {
	padding: 0.5em .5em;
	margin: 0 .5em 0 0;
	border: 1px solid var(--main);
	border-radius: 4em;
	color: var(--main);
	transition: 0.5s;
	line-height: 3rem;
	white-space: nowrap;
}

.button:hover, .button:active, .button:focus, .button:visited {
	background: var(--lighter);
	color: var(--main);
	text-decoration: none; 
}